<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>    
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/basegercomp</property>
    <property name="hibernate.hbm2ddl.auto">update</property> <!-- para criar as tabelas sempre que executar pode ser usado o valor create - para apenas atualizar usa-se update -->
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"></property>
    <mapping class="br.edu.ifpr.irati.ti.modelo.Atleta"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.AtletaCompeticao"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.Competicao"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.CompeticaoModalidade"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.CompeticaoModalidadeColetiva"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.CompeticaoModalidadeSolo"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.Confronto"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.ConfrontoModalidadeColetiva"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.ConfrontoModalidadeSolo"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.Equipe"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.EquipeCompeticao"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.Local"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.ModalidadeColetiva"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.ModalidadeSolo"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.ParesConfronto"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.SistemaDeCompeticao"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.SistemaDeContagem"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.SistemaDeDesempate"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.SistemaEliminatorio"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.SistemaMisto"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.SistemaTodosContraTodos"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.UsuarioParticipante"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.UsuarioParticipante2"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.InscricaoCompeticaoSolo"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.InscricaoCompeticaoColetiva"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.MensagemRecebida"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.MensagemEnviada"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.MensagemAARecebida"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.MensagemAAEnviada"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.MensagemAPRecebida"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.MensagemAPEnviada"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.MensagemPPRecebida"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.MensagemPPEnviada"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.ComunicadoAARecebido"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.ComunicadoAAEnviado"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.ComunicadoAPRecebido"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.ComunicadoAPEnviado"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.ComunicadoPPRecebido"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.ComunicadoPPEnviado"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.ConviteGerenciamentoAAEnviado"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.ConviteGerenciamentoAARecebido"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.SolicitacaoEntradaEquipeEnviada"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.SolicitacaoEntradaEquipeRecebida"/>
    <mapping class="br.edu.ifpr.irati.ti.modelo.Segmento"/>

  </session-factory>
</hibernate-configuration>
