/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/10/2018, 17:13:06
    Author     : Usuário
*/

@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed|Overpass');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

@font-face{
    font-family: 'Kollektif';
    src:url("font/Kollektif.ttf");
}
.titulo{
    font-family: 'Kollektif';
}
.negrito {
    font-weight: bold;
}

.neg{
    color: green;
}


.fontCabinCondensed {
    font-family: 'Cabin Condensed', sans-serif;
}

.fontOverpass {
    font-family: 'Overpass', sans-serif;
}

.fontNunito {
    font-family: 'Nunito', sans-serif;
}

.marginBreadcrumb {
    margin-bottom: 25px;
}

.btnsDecissaoMensagem {
    margin-bottom: 10px;
}

.overflowTableTabPane {
    overflow: auto; width: 920px; height: 350px;
}